<div class="container">
  <div class="row text-center">
    <h1 class="col-lg">22 января, 2019</h1>
  </div>
  <div class="row">
    <app-forecast-card
      time="22:00"
      place="Минск"
      temperature="-0.9"
      humidity="38"
      wind="5"></app-forecast-card>
    <app-forecast-card
      time="23:00"
      place="Минск"
      temperature="-0.9"
      humidity="38"
      wind="5"></app-forecast-card>
  </div>
  <div class="row text-center">
    <h1 class="col-lg">23 января, 2019</h1>
  </div>
  <div class="row">
    <app-forecast-card
      time="00:00"
      place="Минск"
      temperature="-0.9"
      humidity="38"
      wind="5"></app-forecast-card>
    <app-forecast-card
      time="01:00"
      place="Минск"
      temperature="-0.9"
      humidity="38"
      wind="5"></app-forecast-card>
    <app-forecast-card
      time="02:00"
      place="Минск"
      temperature="-0.9"
      humidity="38"
      wind="5"></app-forecast-card>
    <app-forecast-card
      time="03:00"
      place="Минск"
      temperature="-0.9"
      humidity="38"
      wind="5"></app-forecast-card>
    <app-forecast-card
      time="04:00"
      place="Минск"
      temperature="-0.9"
      humidity="38"
      wind="5"></app-forecast-card>
    <app-forecast-card
      time="05:00"
      place="Минск"
      temperature="-0.9"
      humidity="38"
      wind="5"></app-forecast-card>
    <app-forecast-card
      time="06:00"
      place="Минск"
      temperature="-0.9"
      humidity="38"
      wind="5"></app-forecast-card>
    <app-forecast-card
      time="07:00"
      place="Минск"
      temperature="-0.9"
      humidity="38"
      wind="5"></app-forecast-card>
    <app-forecast-card
      time="08:00"
      place="Минск"
      temperature="-0.9"
      humidity="38"
      wind="5"></app-forecast-card>
    <app-forecast-card
      time="09:00"
      place="Минск"
      temperature="-0.9"
      humidity="38"
      wind="5"></app-forecast-card>
    <app-forecast-card
      time="10:00"
      place="Минск"
      temperature="-0.9"
      humidity="38"
      wind="5"></app-forecast-card>
  </div>
</div>
